* {
  margin: 0;
  padding: 0;
}
.App {
  height: 100vh;
  width: 100%;
  background-color: #0a3262;
  display: flex;
}
.Main {
  margin: 80px auto;
  border-radius: 20px;
  background: white;
  height: 450px;
  width: 400px;
}
.Tab {
  text-align: center;
}
.Tab button {
  padding: 12px;
  font-size: 25px;
  color: #0a3262;
  margin: 40px;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
}
.Tab button:hover {
  border-bottom: 2px solid #0a3262;
}
.Register,
.Login {
  display: flex;
  flex-direction: column;
}
.Register input[type="text"],
.Register input[type="password"],
.Login input[type="text"],
.Login input[type="password"] {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  border: 1px solid #0a3262;
  border-radius: 10px;
}
.Register input::placeholder,
.Login input::placeholder {
  padding: 10px;
  font-size: 18px;
}
.Register label,
.Login label {
  width: 90%;
  margin: 0 auto;
}

.Register input[type="checkbox"],
.Login input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}
.Register button,
.Login button {
  width: 200px;
  margin: 10px auto;
  border: none;
  background-color: #0a3262;
  color: white;
  font-size: 25px;
  cursor: pointer;
  border-radius: 15px;
  height: 50px;
}
.Register button:hover {
  background-color: #0a7599;
}
.Login label a {
  float: right;
}
